@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html {
  font-family: "Space Mono", monospace;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
:root {
  --bgColor: #f6f8ff;
  --devFinder: #222731;
  --themeColor: #4b6a9b;
  --searchBG: #fefefe;
  --searchButton: #0079ff;
  --userBG: #fefefe;
  --userName: #2b3442;
  --userUser: #0079ff;
  --userJoined: #697c9a;
  --userBio: #4b6a9b;
  --followersBG: #f6f8ff;
  --repoFollowers: #4b6a9b;
  --numberInfo: #2b3442;
  --contactText: #4b6a9b;
  --inputColor: #4b6a9b;
}
body {
  background-color: var(--bgColor);
}
