.avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.userContainerTop {
  display: flex;
  gap: 19.5px;
  margin-bottom: 34px;
}
.userContainerOut {
  background: var(--userBG);
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
  border-radius: 15px;
  padding: 32px 24px 39px 24px;
  width: calc(100% - 48px);
}
.userInfo {
  display: flex;
  flex-direction: column;
}
.userName {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--userName);
}
.userUser {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 6px;
  color: var(--userUser);
  text-decoration: none;
}
.userOpac {
  opacity: 0.5;
}
.userJoined {
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: var(--userJoined);
}
.userBio {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: var(--userBio);
  margin-bottom: 23px;
}
.userFollowers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--followersBG);
  border-radius: 10px;
  padding: 19px 15px;
  margin-bottom: 24px;
}
.repoFollowers {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: var(--repoFollowers);
}
.numberInfo {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--numberInfo);
}
.contact {
  display: flex;
  align-items: center;
  gap: 13px;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.iconBox {
  width: 20px;
}
@media (min-width: 768px) {
  .avatar {
    width: 117px;
    height: 117px;
  }
  .userContainerTop {
    gap: 41px;
    margin-bottom: 24px;
  }
  .userContainerOut {
    padding: 40px;
    width: calc(100% - 80px);
  }
  .userName {
    font-size: 26px;
    line-height: 39px;
  }
  .userUser {
    font-size: 16px;
    line-height: 24px;
  }
  .userJoined {
    font-size: 15px;
    line-height: 22px;
  }
  .userBio {
    font-size: 15px;
  }
  .userFollowers {
    justify-content: space-evenly;
  }
  .repoFollowers {
    font-size: 13px;
    line-height: 19px;
  }
  .numberInfo {
    font-size: 22px;
    line-height: 33px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 19px;
  }
}
@media (min-width: 1440px) {
  .avatar {
    width: 167px;
    height: 167px;
  }
}
